# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Backup & temp files
*.tmp
*.bak
*.backup
*.tmp.cs

# Others
*.db
.env
.env.*
